.navbar-siakad{
    background-color: #3E65A0 !important;
}
.footer-dibawah{
	position: relative;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #ddd;
}
.footerbawah{
    color: #fff !important;
    background-color: #2B4E84;
}
.footerkebawah{
    position: relative;
	width: 100%;
	bottom: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #ddd;
}

.bg-utama{
	color: #fff !important;
	background-color: #3e65a0;
}

.card:hover {
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
}

.tulisan{
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.text-dashboard{
    font-size: 16px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.teks-hitam{
    font-size: 17px;
    color: #3d3e48;
    font-family: Arial, Helvetica, sans-serif;
}

.teks-link{
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none !important;
}

.teks-link:hover{
	font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline !important;
}

.h-96{
    height: 96.5% !important;
}

.satu{
    font-size: 14px;
}
.right {
    float: right;
    }
